<style>
    div.card {
        width: 250px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
    }

    div.header {
        background-color: #4CAF50;
        color: white;
        padding: 10px;
        font-size: 40px;
    }
    /*
    div.container {
        padding: 10px;
    }*/

    /* The slow way */
    .make-it-slow {
        box-shadow: 0 1px 2px rgba(0,0,0,0.15);
        transition: box-shadow 0.3s ease-in-out;
    }

        /* Transition to a bigger shadow on hover */
        .make-it-slow:hover {
            box-shadow: 0 5px 15px rgba(0,0,0,0.3);
        }

    /* The fast way */
    .make-it-fast {
        box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    }

        /* Pre-render the bigger shadow, but hide it */
        .make-it-fast::after {
            box-shadow: 0 5px 15px rgba(0,0,0,0.3);
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }

        /* Transition to showing the bigger shadow on hover */
        .make-it-fast:hover::after {
            opacity: 1;
        }

    /* Create a simple white box, and add the shadow for the initial state */
    .box {
        /*position: relative;
      display: inline-block;*/
        /*width: 100px;
      height: 100px;*/
        border-radius: 5px;
        /*background-color: #fff;*/
        box-shadow: 0 1px 2px rgba(0,0,0,0.15);
        transition: all 0.3s ease-in-out;
    }

        /* Create the hidden pseudo-element */
        /* include the shadow for the end state */
        .box::after {
            content: '';
            position: absolute;
            z-index: 100000000;
            /*width: 100%;
      height: 100%;*/
            opacity: 0;
            border-radius: 5px;
            box-shadow: 0 5px 15px rgba(0,0,0,0.3);
            transition: opacity 0.3s ease-in-out;
        }

        /* Scale up the box */
        .box:hover {
            transform: scale(1.2, 1.2);
        }

            /* Fade in the pseudo-element with the bigger shadow */
            .box:hover::after {
                opacity: 1;
            }

            /* centered columns styles */

</style>

@*<div class="card">
        <div class="header">
            <h1>1</h1>
        </div>

        <div class="container">
            <p>January 1, 2016</p>
        </div>
    </div>*@

@*http://tobiasahlin.com/blog/how-to-animate-box-shadow/*@

<div class="container">
    <div class="row top30 row-centered row-centered">
        <div class="col-xs-10 col-centered ">
            <div class="box">
                <div class="panel panel-default">
                    <div class="panel-heading">Sócios</div>
                    <div class="panel-body">
                        Quantidade cadastrado no sisitema <strong>8</strong>.
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row top20 row-centered">
        <div class="col-xs-10 col-centered">
            <div class="box">
                <div class="panel panel-default">
                    <div class="panel-heading">Entrada de Livros</div>
                    <div class="panel-body">
                        Foram adquiridos <strong>30</strong> ao total.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row top20 row-centered">
        <div class="col-xs-10 col-centered">
            <div class="box">
                <div class="panel panel-default">
                    <div class="panel-heading">Venda de Livros</div>
                    <div class="panel-body">
                        Foram vendidos <strong>3</strong> esse mês.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="row top20 row-centered">
        <div class="col-xs-10 col-centered">
            <div class="box">
                <div class="panel panel-default">
                    <div class="panel-heading">Venda de Livros</div>
                    <div class="panel-body">
                        Foram vendidos <strong>3</strong> esse mês.
                    </div>
                </div>
            </div>
        </div>
    </div>*@

