
@{
    Layout = null;
}

<script src="~/Scripts/Views/EntradasLivros/_PesquisarLivros.js"></script>

<div id="pesquisarLivrosDIV">
    <div class="alert alert-info" role="alert">
        Carregando! Por favor, aguarde.
    </div>
</div>    

@Html.Hidden("hdnCaminhoTableLivros", @Url.Action("_TableListarLivros", "Livros"))